html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header {
    color: aliceblue;
    background-color: darkred;
    height: 600px;
    width: 600px;
}
main{
    background-color: rgb(58, 5, 5);
    color: white;
    font-weight: 600;
}